body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Roboto,Arial,sans-serif
}

canvas {
  transform: scale(-1, 1);
}

h1 {
  font-weight: lighter;
}

#webcam,
#webcamCanvas {
  display: none;
}

#imageData {
  position: fixed;
  top: 0;
  left: 0;
}

#explore {
  position: absolute;
  right: 10%;
  left: 10%;
  bottom: 50px;
  text-align: center;
}

#exploreButton,
#startButton {
  font-size: 2em;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  padding: 0.3em;
}

#exploreButton {
  width: 100%;
}

#startButton {
  width: 40%;
  display: block;
  margin: 0 auto 20px;
}

#explorePreview {
  width: 100%;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
}

#explore .image-container {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-bottom: 15%;
  width: 30%;
  background-size: contain;
}

#explore .image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
}

#searchContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

#searchHeader {
  height: 15%;
  color: #ccc;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
}

#searchHeader img {
  height: 1em;
}

#searchBarContainer {
  position: relative;
  width: 100%;
  height: 10%;
}

#searchBar {
  border-bottom: 2px solid rgba(100, 100, 100, 0.3);

  position: absolute;
  left: 5%;
  bottom: 0;

  box-sizing: border-box;
  width: 90%;
  padding: 0 20px;
}

#backButton {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 0.4em;
  transform: rotate(135deg);
  cursor: pointer;
  font-size: 2em;
}

#searchBar svg {
  fill: white;
  width: 40px;
}

#searchBar input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  caret-color: white;
  font-size: 4em;
  width: 80%;
}

#searchResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  overflow-y: scroll;

  width: 100%;
  height: 75%;
}

#searchResults .image-container {
  display: inline-block;
  position: relative;

  width: 40%;
  padding-bottom: 20%;

  margin: 20px 5%;
}

#searchResults .image {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  background-size: contain;
}
