body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Roboto,Arial,sans-serif
}

canvas {
  transform: scale(-1, 1);
}

#backgroundCanvas,
#tigerCanvas {
  position: absolute;
  top: 0;
  left: 0;
}

#tigerCanvas {
  pointer-events: none;
}

h1 {
  font-weight: lighter;
}

#webcam,
#webcamCanvas {
  display: none;
}

#imageData {
  position: fixed;
  top: 0;
  left: 0;
}

#explore {
  position: absolute;
  right: 10%;
  left: 10%;
  bottom: 50px;
  text-align: center;
}

#exploreButton,
#startButton {
  font-size: 2em;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  padding: 0.3em;
  width: 100%;
}

#explorePreview {
  width: 100%;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
}

#explore .image-container {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-bottom: 15%;
  width: 30%;
  background-size: contain;
}

#explore .image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
}

#sliderContainer {
  position: fixed;
  z-index: 1;
  width: 80%;
  right: 10%;
  top: 5%;
}

#slider {
  width: 100%;
  direction: rtl;
  -webkit-appearance: none;
  appearance: none;
  height: 30px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  transition: opacity .2s;
}

#slider:hover {
  opacity: 1;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: #76d8fe;
  cursor: pointer;
}

#searchContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

#searchHeader {
  height: 60px;
  color: white;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
}

#searchHeader h1 {
  font-size: 1.25em;
  margin-bottom: 0;
}

#searchHeader span {
  font-size: 1em;
}

#searchHeader img {
  height: 1em;
}

#searchBarContainer {
  position: relative;
  width: 100%;
  height: 60px;
}

#searchBar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  border-bottom: 2px solid white;

  position: absolute;
  left: 5%;
  bottom: 0;

  box-sizing: border-box;
  width: 90%;
  padding: 0 5px;
}

#searchBar svg {
  fill: white;
  width: 2em;
  height: 2em;
  margin-bottom: 0.1em;
}

#searchBar #searchIcon {
  margin-right: 10px;
}

#searchBar #closeButton {
  cursor: pointer;
}

#searchBar input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  caret-color: white;
  font-size: 2em;
  width: 100%;
  padding: 0;
}

#searchResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  overflow-y: scroll;

  width: 100%;
  height: calc(100% - 120px);
}

#searchResults .image-container {
  display: inline-block;
  position: relative;

  width: 40%;
  padding-bottom: 20%;

  margin-bottom: 5%;
}

#searchResults .image-container:nth-child(odd) {
  margin-left: 6.66%;
  margin-right: 3.33%;
}

#searchResults .image-container:nth-child(even) {
  margin-left: 3.33%;
  margin-right: 6.66%;
}

#searchResults .image {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  background-size: contain;
}
